$buttun-color: #005ffd;
$hover-header-button: #cbe6fe;
$border-header: #eaeaea;
$desc-comp: #f4f4f4;
$tooltip: #848484;

$font-black: #333333;
$font-gray: #848484;
$font-hover-button: #005ffd;
$font-desc: #c1c1c1;


$border-color: #EAEAEA;